* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

a {
  color: #fff;
}

.application-btn {
  text-transform: uppercase;
  background-color: #800000;
  border: 1px solid transparent;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  padding: 15px 18px;
}

.application-btn:hover {
  color: #800000;
  background-color: transparent;
  border: 1px solid #800000;
}

.none {
  display: none;
}

.header__inner {
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  font-size: 18px;
  text-transform: uppercase;
}

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.menu__list-link {
  border-bottom: 1px solid transparent;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  padding-bottom: 5px;
}

.menu__list-link:hover {
  border-bottom: 1px solid #fff;
}

.menu__list-item + .menu__list-item {
  margin-left: 30px;
}

.phone {
  font-size: 18px;
}

.top {
  padding: 20px 0 100px;
}

.top__heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

.top__content {
  width: 50%;
  text-align: center;
  padding-top: 60px;
}

.top__title {
  font-family: "Fira Sans", sans-serif;
  font-size: 48px;
  margin-bottom: 25px;
}

.top__text {
  font-size: 24px;
  max-width: 470px;
  margin: 0 auto 65px;
}

.top__slider {
  width: 50%;
}

.top__slider-img {
  width: 570px;
  height: 450px;
}

.top__slider-img img {
  width: 100%;
}

.top__slider .slick-dots {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slick-dots {
  list-style: none;
  text-align: center;
}

.slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  border: none;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #6C97FD;
  padding: 0;
}

.slick-active button {
  width: 16px;
  height: 16px;
}

.top__slider-text {
  font-family: "Fira Sans", sans-serif;
  text-align: right;
  padding-right: 80px;
}

.top__slider-text span + span {
  margin-left: 20px;
}

.top__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.top__items {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.top__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 150px;
  height: 150px;
  border: 1px solid #6C97FD;
  cursor: pointer;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  padding: 10px;
}

.top__item:hover {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
}

.top__item-text {
  text-align: center;
}

.top__links {
  width: 50%;
  text-align: right;
  padding-right: 80px;
}

.top__link {
  border-bottom: 1px solid transparent;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.top__link:hover {
  border-bottom: 1px solid #fff;
}

.top__link + .top__link {
  margin-left: 20px;
}

.rent {
  padding: 100px 0 175px;
}

.rent__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rent__content {
  width: 300px;
  min-height: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.rent__title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.rent__item {
  width: 250px;
  min-height: 350px;
  border: 1px solid #6C97FD;
  text-align: center;
  padding: 0 25px 10px;
}

.rent__item-number {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 96px;
  color: rgba(108, 151, 253, 0.2);
  margin-bottom: 10px;
}

.rent__item-title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 27px;
}
/*# sourceMappingURL=style.css.map */