.feadback {
  padding: 130px 0 90px;

  @media(max-width:1150px) {
    padding: 60px 0;
  }

}

.feadback__inner {
  display: flex;
  align-items: center;
}

.feadback__img {
  width: 50%;

  @media(max-width:940px) {
    display: none;
  }
}

.feadback__form {
  width: 420px;
  margin: 0 auto;
}

.feadback {
  &__title {
    margin-bottom: 5px;

    @media(max-width:940px) {
      text-align: center;
    }
  }

  &__text {
    margin-bottom: 30px;

    @media(max-width:940px) {
      text-align: center;
    }
  }
}

.feadback__input {
  display: block;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid rgba($colorCorp, .5);
  padding: 20px 0;
  color: $colorMain;
  font-family: $fontText;
  font-weight: 400;
  font-size: 16px;
  transition: all .2s;

  &::placeholder {
    color: rgba($colorMain, .7);
    font-size: 16px;
  }

  &:hover {
    border-bottom: 1px solid $colorCorp;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.feadback__btn {
  color: $colorMain;
  font-size: 16px;
  padding: 15px 36px;
  margin-top: 50px;

  @media(max-width:430px) {
    font-size: 14px;
  }
}