.header__inner {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  font-size: 18px;
  text-transform: uppercase;
}

.menu__list {
  display: flex;

  &-link {
    border-bottom: 1px solid transparent;
    transition: all .5s;
    padding-bottom: 5px;
    &:hover {
      border-bottom: 1px solid $colorMain;
    }
  }
}

.menu__list-item+.menu__list-item {
  margin-left: 30px;
}

.phone {
  font-size: 18px;
}