.reviews {
  position: relative;
  padding: 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  @media(max-width:1150px) {
    padding: 60px 0;
  }

  @media(max-width:375px) {
    padding: 40px 0;
  }
}

.reviews__title {
  position: relative;

  @media (max-width: 1150px) {
    text-align: center;
  }
}

.reviews__item {
  width: 270px;
  min-height: 300px;
  text-align: center;
  border: 1px solid $colorAccent;
  background-color: rgba(23, 36, 62, 0.5);
  padding: 45px 30px;
  margin: 0 15px;

  &-name {
    margin-bottom: 45px;
  }

  @media (max-width: 600px) {
    min-height: 270px;
  }
}

.reviews__item-name {
  @media(max-width:430px) {
    font-size: 20px;
  }
}

.reviews__slider {
  margin-top: 70px;

  @media (max-width: 1150px) {
    margin-top: 50px;
  }

  @media (max-width: 600px) {
    margin-top: 35px;
  }
}

.reviews__slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.reviews__slider button {
  background-color: $colorAccent;
  outline: none;
  line-height: 12px;
  margin: 0 5px;
}