.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  background-color: #000;
  color: $colorMain;
  font-family: $fontText;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

a {
  color: $colorMain;
}

.application-btn {
  text-transform: uppercase;
  background-color: $colorAccent;
  border: 1px solid transparent;
  transition: all .5s;
  padding: 15px 18px;

  &:hover {
    color: $colorAccent;
    background-color: transparent;
    border: 1px solid $colorAccent;
  }
}

.none {
  display: none;
}